<%- include("partials/headers") %>
<script src="home.js" defer></script>

<main class="home__main">
    <%- include("partials/title") %>

    <section class="home__sentence-container">
        <img class="home__sentence-logo" src="sentence.png" alt="">
        <p class="home__sentence-text">La phrase de la semaine : <br><strong>"Ma montre est terminée..."</strong> Hugo Ekitike </p>
    </section>

    <section class="home__box-container">
        <div class="home__box-resume">
            <div class="home__box-resume-split">
                <h2 class="home__box-resume-amount" id="totalPenalties"><%=sumPenalties.sum %>€</h2>
                <h3 class="home__box-resume-descr">Total des amendes distribués</h3>
            </div>
            <div>
                <% if(sumPenaltiesPaid.sum) { %>
                <h2 class="home__box-resume-amount" id="totalPenaltiesPaid"><%=sumPenaltiesPaid.sum %>€</h2>
                <% } else { %>
                <h2 class="home__box-resume-amount">0€</h2>
                <% } %>
                <h3 class="home__box-resume-descr">Total des amendes <br> payées</h3>
            </div>
        </div>
        <div class="homme__visual">
            <div class="home__visual-wrapper">
                <img class="home__visual-filter"src="moneystack.png" alt="">
                <img class="home__visual-img"src="moneystack.png" alt="">
                
            </div>
        </div>
    </section>

    <section class="home__details-container">
        <div class="home__subdetail-container">
            <h3 class="home__subdetail-title">Objectif de la cagnotte</h3>
            <p class="home__subdetail-text"><%= settings.data %></p>
        </div>
        <div class="home__subdetail-container">
            <h3 class="home__subdetail-title">La star de la saison</h3>
            <p class="home__subdetail-starplayer-name"><%= starPlayer.player_pseudo %></p>
            <p class="home__subdetail-starplayer-amount"><%= starPlayer.sum %>€</p>

            
        </div>

    </section>
    
</main>
    
</body>
</html>