<%- include("partials/headers") %>
<script src="home.js" defer></script>

<main class="home__main">
    <%- include("partials/title") %>

    <section class="home__box-container">
        <div class = "home__sectionTitle">
            <h2 class = "home__sectionText">Montant de la cagnotte </h2>
        </div>
        
        <div class="home__box-resume">
            <div class="home__box-resume-split">
                <% if(sumPenalties[0].sum) { %>
                <h2 class="home__box-resume-amount" id="totalPenalties"><%=sumPenalties[0].sum %>€</h2>
                <% } else { %>
                    <h2 class="home__box-resume-amount" id="totalPenaltiesPaid">0€</h2>
                    <% } %>
                
                <h3 class="home__box-resume-descr">Total des amendes <br> distribués</h3>
            </div>
            <div class="home__box-resume-split">
                <% if(sumPenaltiesPaid[0].sum) { %>
                <h2 class="home__box-resume-amount" id="totalPenaltiesPaid"><%=sumPenaltiesPaid[0].sum %>€</h2>
                <% } else { %>
                <h2 class="home__box-resume-amount" id="totalPenaltiesPaid">0€</h2>
                <% } %>
                <h3 class="home__box-resume-descr">Total des amendes <br> payées</h3>
            </div>
        </div>
    </section>

    <section class="home__progressbar">
        <div class="home__prgressbar-overwrapper">
            <div class="home__progressbar-wrapper">
                <div class="home__progressbar-total"></div>
                <div class="home__progressbar-completed"></div>
            </div>
        </div>
        <div class="home__progressbar-percentage">Pourcentage payé : 0%</div>
    </section>

    <section class="home__box-container">
        <div class = "home__sectionTitle">
            <h2 class = "home__sectionText">Payer en ligne </h2>
        </div>
        <div class="home__sentence-container--lydia">
            <img src="lydia-logo.png" class="home__lydia-logo">
            <p>Pas de cash? Paye tes amendes directement avec Lydia!</p>

        </div>
    </section>

    <section class="home__box-container">
        <div class = "home__sectionTitle">
            <h2 class = "home__sectionText">La phrase du moment </h2>
        </div>
        <div class="home__sentence-container">
            <% if(!team[0].sentence) { %>
            <p class="home__sentence-text">Rien à signaler pour le moment! </p>
            <% } else { %>
               <p class="home__sentence-text"> <%=team[0].sentence %> </p> 
            <% } %>
        </div>
    </section>
    


    <section class="home__box-container">
        <div class = "home__sectionTitle">
            <h2 class = "home__sectionText">Informations </h2>
        </div>
        <div class="home__details-container">
            <div class="home__subdetail-container">
                <h3 class="home__subdetail-title">Objectif de la cagnotte</h3>
                <p class="home__subdetail-text"><%= team[0].target %></p>
                
            </div>
            <div class="home__subdetail-container">
                <h3 class="home__subdetail-title">Joueur de la saison</h3>
                <div class="home__subdetail-starplayer-data-container">
                    <% if(starPlayer.length == 1) { %>
                    <p class="home__subdetail-starplayer-name"><%= starPlayer[0].pseudo %></p>
                    <p class="home__subdetail-starplayer-amount"><%= starPlayer[0].sum %>€</p>
                    <% } else { %>
                        <p class="home__subdetail-starplayer-null">Aucune amende payée</p>
                    <% } %>
                </div>
            </div>
        </div>

    </section>




    
    
</main>
    
</body>
</html>