<%- include("partials/headers") %>
<script src="registerlist.js" defer></script>


<main class="main">
    <div class="title__container">
        <p class="title__text">Le journal des amendes</p>
        <img class="title__logo" src="logoclub.png" alt="">
    </div>

<% if(registers.length > 0) { %>
<section >

    <div class="registerlist__filteroption-container">
        <input type="text" class="registerlist__searchbar" placeholder="Recherche par pseudo">
        <p class="registerlist__paidfilter">Non payé</p>
    </div>
    <table class="penaltylist__container">
        <thead class="penaltylist__header">
            <th>Date</th>
            <th>Joueur</th>
            <th>Raison de l'amende</th>
            <th>Payé</th>
        </thead>
        
        <tbody>
            <% for(register of registers) { %>
            <tr class="penaltylist__row">
                <td class="registerlist__date">
                    <p><%= `${register.date.getDate()}-${register.date.getMonth()+1}-${register.date.getFullYear()} `%></p>
                </td>
                <td class="registerlist__joueur">
                    <%=register.pseudo%>
                </td>
                <td class="registerlist__raison">
                <% if(register.descr) { %>
                    <p><%=register.type%> <br>#<%=register.descr%></p>
                <% } else { %>
                    <p><%=register.type%></p>
                <% } %>
                </td>
                <td class="registerlist__paid">
                    <% if(register.paid_status) { %>
                        <img class="registerlist__form-paidlogo" src="paid.png" alt="">
                    <% } else { %>
                        <img class="registerlist__form-paidlogo" src="notpaid.png" alt="">
                    <% } %>
                </td>
                
            </tr>
            <% } %>
        </tbody>
    </table>
</section>

<% } else { %>
    <p class="general__noPenalties-message">Aucune amende n'ont été distribuée!</p>

<% } %>


</main>
    
</body>
</html>
