<%- include("partials/headers") %>
<script src="setPenalty.js" defer></script>

<div class="page-title">Fixe les règles</div>

<div class="formcontainer-addplayer">
   <form class="form-addplayer" method="POST" action="/add-penalty">
    <div class="admin__container-addpenalty">
      <label class="label-addplayer" for="type">Raison de l'amende</label>
      <select class="input-addplayer" name="type" id="type">
        <% for(typeOption of typeOptions) { %>
        <option value="<%=typeOption%>"><%=typeOption%></option>
        <% } %>
      </select>
    </div>
    <div class="admin__container-addpenalty">
      <label class="label-addplayer" for="amount">Montant</label>
      <input class="input-addplayer" type="text" id="amount" name="amount" placeholder="Renseigne un nombre">
      <img class="admin_add-input--validation-logo" src="paid.png">
			<img class="admin_add-input--error-logo" src="error.png">
			<small></small>
    </div>
    <button class="admin__addform-button">Valider</button>

   
   </form>
   </div>

   <table class="admin__form">
      <thead>
          <th class="admin___headerform-text"> Raison </th>
          <th class="admin___headerform-text"> Montant</th>
          <th class="admin___headerform-text"> Modifier</th>

      </thead>
      <tbody>
          <% for(penalty of penalties) { %>
          <tr class="admin__row-form">
              <td class="admin__cell-form">
                  <p><%= penalty.type %></p>
              </td>
  
              <td class="admin__cell-form">
                  <p><%= penalty.amount %></p>
              </td>
              <td class="admin__cell-form admin cell-form__modifier-container">
                <button class="admin__cell-form__button">
                    <img class="admin__cell-form__img" src="modify.png" alt="">
                </button>
                <a href="/setpenalty/delete/<%= penalty.id %>" class="admin__cell-form__button">
                    <img class="admin__cell-form__img" src="delete.png" alt="">
                </a>
            </td>
          </tr>
          <% } %>
      </tbody>
  
  </table>

    
</body>
</html>