<%- include("partials/headers") %>
<script src="setplayer.js" defer></script>

<div class="page-title">Ajoute un joueur</div>

<div class="formcontainer-addplayer">
<form class="form-addplayer" method="POST" action="/add-player">
    <div class="admin__container-add-items">
        <div class="admin__form-subcontainer">
            <label class="label-addplayer" for="fname">Prénom</label>
            <input class="input-addplayer" type="text" id="fname" name="fname" placeholder="Johan">
            <img class="admin_add-input--validation-logo" src="paid.png">
			<img class="admin_add-input--error-logo" src="error.png">
			<small>Error message</small>
        </div>
        <div class="admin__form-subcontainer">
            <label class="label-addplayer" for="lname">Nom</label>
            <input class="input-addplayer" type="text" id="lname" name="lname" placeholder="Micoud">
            <img class="admin_add-input--validation-logo" src="paid.png">
			<img class="admin_add-input--error-logo" src="error.png">
			<small>Error message</small>
        </div>
        <div class="admin__form-subcontainer">
            <label class="label-addplayer" for="pseudo">Pseudo</label>
            <input class="input-addplayer" type="text" id="pseudo" name="pseudo" placeholder="Le nouveau Zidane">
            <img class="admin_add-input--validation-logo" src="paid.png">
			<img class="admin_add-input--error-logo" src="error.png">
			<small>Error message</small>
        </div>
        <div class="admin__form-subcontainer">
            <label class="label-addplayer" for="email">email</label>
            <input class="input-addplayer" type="text" id="email" name="email" placeholder="yomicoud@werder.com">
            <img class="admin_add-input--validation-logo" src="paid.png">
			<img class="admin_add-input--error-logo" src="error.png">
			<small>Error message</small>
        </div>
    </div>
    
    <button class="admin__addform-button">Valider</button>

</form>

<table class="admin__form">
    <thead>
        <th class="admin___headerform-text"> Prénom </th>
        <th class="admin___headerform-text"> Nom</th>
        <th class="admin___headerform-text"> Pseudo</th>
        <th class="admin___headerform-text"> Email</th>
        <th class="admin___headerform-text"> Modifier</th>
    </thead>
    <tbody>
        <% for(player of players) { %>
        <tr class="admin__row-form">
            <td class="admin__cell-form">
                <p><%= player.fname %></p>
            </td>

            <td class="admin__cell-form">
                <p><%= player.lname %></p>
            </td>

            <td class="admin__cell-form admin__pseudo">
                <p><%= player.pseudo%></p>
            </td>
                
            <td class="admin__cell-form">
                <p><%- player.email.replace(/@/g,"<br>@")%></p>
            </td>
            <td class="admin__cell-form admin cell-form__modifier-container">
                <button class="admin__cell-form__button">
                    <img class="admin__cell-form__img" src="modify.png" alt="">
                </button>
                <a href="/setplayer/delete/<%= player.id %>" class="admin__cell-form__button">
                    <img class="admin__cell-form__img" src="delete.png" alt="">
                </a>
            </td>
        </tr>
        <% } %>
    </tbody>

</table>

</div>

    
</body>
</html>