<%- include("partials/headers") %>

<main class="main">
    <div class="title__container">
        <p class="title__text">Ajoute un nouveau carton blanc</p>
        <img class="title__logo" src="logoclub.png" alt="">
    </div>

<div class="formcontainer-addplayer">
<form class="form-addplayer" method="POST" action="/setRegister">
    
    <label class="label-addplayer" for="player">Joueur</label>
    <select class="input-addplayer" name="player" id="player">
        <% for(player of players) { %>
        <option value="<%= player.pseudo %>"><%= player.pseudo %></option>
        <% } %>
    </select>

    <label class="label-addplayer" for="type">Raison de l'amende</label>
    <select class="input-addplayer" name="type" id="type">
        <% for(penalty of penalties) { %>
        <option value="<%= penalty.type %>"><%= penalty.type %></option>
        <% } %>
    </select>
    <label class="label-addplayer" for="descr">Commentaires</label>
    <input class="input-addplayer" type="text" id="descr" name="descr" placeholder="140 caractères max :)">
    <input class="admin__addform-button"type="submit" value="Valider">

</form>
</div>

<table class="admin__form">
    <thead>
        <th class="admin___headerform-text"> Date</th>
        <th class="admin___headerform-text"> Jouer </th>
        <th class="admin___headerform-text"> Raison</th>
        <th class="admin___headerform-text"> Payé?</th>
        <th class="admin___headerform-text"> Supprimer</th>
    </thead>
    <tbody>
        <script src="popup.js" defer></script>
        <% for(item of registers) { %>
        <tr class="admin__row-form">
            <td class="admin__cell-form">
                <p><%= `${item.date.getDate()} - ${item.date.getMonth() + 1} - ${item.date.getFullYear()} `%></p>
            </td>
            <td class="admin__cell-form">
                <p><%= item.player.pseudo %></p>
            </td>
            <td class="admin__cell-form">
                <% if(item.descr) { %>
                <p><%= item.penalty.type %><br>#<%= item.descr %></p>
                <% }else { %>
                <p><%= item.penalty.type %></p>
                <% } %>
            </td>

            <td class="admin__cell-form">
                <% if(item.paid_status) { %>
                    <img class="registerlist__form-paidlogo" src="paid.png" alt="">
                <% } else { %>
                    <img class="registerlist__form-paidlogo" src="notpaid.png" alt="">
                <% } %>
            </td>
            <% if(!item.paid_status) { %>
            <%- include("partials/popup",{name: "register"}) %>
            <td class="admin__cell-form admin cell-form__modifier-container">
                <button class="admin__cell-form__button" id="popup__openButton">
                    <img class="admin__cell-form__img" src="delete.png" alt="">
                </button>
            </td>
            <% } %>
            
            
        </tr>
        
    
        <% } %>
    </tbody>

</table>

    
</body>
</html>